<footer id="app-footer">
    <div class="line-black"></div>
    <div class="container-fluid">
       <div class="row black-fon pt-4 pb-2">
          <div class="col-md-6 left-box">
              <p><a href="/">Руки не крюки - сайт для столяров и плотников</a></p>
              <p>&copy; 2019 - {% now "Y" %} Егор Астапов | сайт мониторится <a href="/redirect-external/ping-admin-index" target="_blank">ping-admin</a></p>
          </div>
           <div class="col-md-6 right-box">
               <p>количество статей: <span id="online-post">{{ post }}</span> | кол-во комментариев: <span id="online-comment">{{ comment }}</span> | онлайн: <span id="online-user">{{ online }}</span></p>
          </div>
       </div>
     </div>
</footer>