{% load staticfiles %}
<header>
  <div class="banner">
       <img src="{% static 'image/banner.png' %}" class="img-fluid d-none d-md-block" alt="Руки не крюки">
  </div>
  <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 menu-top">
            <div class="col-lg-4 col-md-3 d-none d-lg-block">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbar1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:sitemap' %}"><i class="fa fa-sitemap" title="Карта сайта"></i></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'blog:rss' %}" title="RSS-канал"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:atom' %}" title="ATOM-канал">ATOM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:contact' %}"><i class="far fa-envelope" title="Контакты"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:page' 'about-me' %}"><i class="far fa-user" title="Обо мне"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
          </div>
          <div class="col-sm-12 d-lg-none menu-top-small">
                <nav class="navbar">
                    <div class="navbar-expand" id="navbar2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:sitemap' %}"><i class="fa fa-sitemap" title="Карта сайта"></i></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'blog:rss' %}" title="RSS-канал"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:atom' %}" title="ATOM-канал">ATOM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:contact' %}"><i class="far fa-envelope" title="Контакты"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:page' 'about-me' %}"><i class="far fa-user" title="Обо мне"></i></a>
                            </li>

                        </ul>
                    </div>
                </nav>
          </div>

       </div>
  </div>
</header>