{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}

{% block description %}{{ category.description }}{% endblock %}
{% block keywords %}{{ category.keywords }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              {% for parent in category.get_ancestors %}
              <li class="breadcrumb-item"><a href="{% url 'blog:category' parent.slug %}">{{ parent.name }}</a></li>
              {% endfor %}
              <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
          </ol>
      </nav>
  </div>
</div>

<div class="row list-article">
    <div class="col-md-12">
        <h1>{{ category.h1|capfirst  }}</h1>
    </div>
    {% for post in post %}
    <div class="col-md-6">
        <div class="media">
          <img class="align-self-center mr-3" src="{{ MEDIA_URL }}{{ post.mini_icon.file }}" alt="Generic placeholder image">
          <div class="media-body">
              <h2 class="mt-0"><a href="{% url 'blog:post' post.category.slug post.slug  %}">{{ post.h1|capfirst }}</a></h2>
            <p>{{ post.announcement }}</p>
            <p class="mb-0"><span>категория:</span> <a href="{% url 'blog:category' post.category.slug  %}">{{ post.category }}</a></p>
            <p class="mb-0"><span>дата:</span> {{ post.create_date }}</p>
            <p class="mb-4"><span>просмотры:</span> {{ post.count_view }}</p>
          </div>
        </div>
    </div>
    {% empty %}
    <p>нет статей!</p>
    {% endfor %}

    {% if is_paginated %}
    <div class="col-md-12">
        <nav aria-label="">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1"><<</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
              <a class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
    {% endif %}

</div>
{% endblock %}
