{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}

{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block title %}{{ page.name }}{% endblock %}


{% block content %}
{# хлебные крошки #}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>
          </ol>
      </nav>
  </div>
</div>


<div class="row">
    <div class="col-md-12">
      <article>
          <h1>{{ page.h1|capfirst  }}</h1>
          {{ page.text|safe }}

          <div class="info">
              <hr>
              <p>дата: {{ page.create_date }}, просмотры: {{ page.count_view }}</p>
          </div>
      </article>
    </div>
</div>
{% endblock %}
