{% extends "base.html" %}
{% load staticfiles %}

{% block description %}{{ index.description }}{% endblock %}
{% block keywords %}{{ index.keywords }}{% endblock %}
{% block title %}{{ index.name }}{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
          </ol>
      </nav>
  </div>
</div>
<div class="row list-article">
    {% for post in post %}
    <div class="col-md-6">
        <div class="media">
          <img class="align-self-center mr-3" src="{{ MEDIA_URL }}{{ post.mini_icon.file }}" alt="Generic placeholder image">
          <div class="media-body">
              <h2 class="mt-0"><a href="{% url 'blog:post' post.category.slug post.slug  %}">{{ post.h1|capfirst  }}</a></h2>
            <p>{{ post.announcement }}</p>
            <p class="mb-0"><span>дата:</span> {{ post.create_date }}</p>
            <p class="mb-0"><span>категория:</span> <a href="{% url 'blog:category' post.category.slug  %}">{{ post.category|capfirst  }}</a></p>
            <p class="mb-4"><span>просмотры:</span> {{ post.count_view }}</p>
          </div>
        </div>
    </div>
    {% empty %}
    <p>нет статей!</p>
    {% endfor %}

</div>

<div class="row">
    <div class="col-md-12">
      <article>
          <h1>{{ index.h1 }}</h1>
          {{ index.text|safe }}
      </article>
    </div>
</div>
{% endblock %}
