{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}

{% block description %}{{ post.description }}{% endblock %}
{% block keywords %}{{ post.keywords }}{% endblock %}
{% block title %}{{ post.name }}{% endblock %}


{% block content %}
{# хлебные крошки #}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              {% for parent in post.category.get_ancestors %}
              <li class="breadcrumb-item"><a href="{% url 'blog:category' parent.slug %}">{{ parent.name }}</a></li>
              {% endfor %}
              <li class="breadcrumb-item"><a href="{% url 'blog:category' post.category.slug %}">{{ post.category.name }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.name }}</li>
          </ol>
      </nav>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <article>
          <h1>{{ post.h1|capfirst }}</h1>
          {{ post.text|safe }}

          <div class="info">
              <hr>
              <p>автор: {{ post.author }}, дата: {{ post.create_date }}, просмотры: {{ post.count_view }}</p>
          </div>
      </article>
    </div>
</div>

{# комментарии пользователей #}
<div class="comment" id="app-comment">
    <div class="comments">
        <div class="row">
            <div class="col-md-12">
              <h2>Комментарии</h2>
            </div>
        </div>
        {% for comment in comment_list %}
        <div class="row">
            <div class="col-md-6">
              <p>добавил(а): <b>{{ comment.name_user }}</b>, дата: {{ comment.create_date }}</p>
            </div>
            <div class="col-md-12">
              {{ comment.text }}
              <hr>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <div class="col-md-12">
              <p>нет комментариев!</p>
            </div>
        </div>
        {% endfor %}
        <div class='row' v-for="comment in comments">
            <div class='col-md-6'>
                <p>добавил(а): <b class='name_user'>${ comment.name_user }</b>, дата: <span class='create_date'>${ comment.create_date }</span></p>
            </div>
            <div class='col-md-12' class='text'>
                ${ comment.text }
                <hr>
            </div>
        </div>
    </div>
    <div class="form">
        <form>
          <div class="form-group">
            <div class="errorlist mt-3" v-if="errors.length">
              <b>Пожалуйста исправьте указанные ошибки:</b>
              <ul class="ml-4 mt-2">
                 <li v-for="error in errors">${ error }</li>
              </ul>
            </div>
            <label for="exampleFormControlInput1">Ваше имя <span>*</span></label>
            {{ form.name_user }}
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2">email</label>
            {{ form.email_user }}
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">комментарий <span>*</span></label>
            {{ form.text }}
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Капча <span>*</span></label>
            <div>
            {{ form.captcha }}
            <button type="submit" class="btn btn-warning" v-on:click.prevent="refreshCaptcha()">обновить</button>
            {{ form.post }}
            {% csrf_token %}
            </div>
          </div>
          <button type="submit" class="btn btn-secondary mb-3" v-on:click.prevent="sendComment($event)">отправить</button>
        </form>
    </div>
</div>
{% endblock %}


{% block script_vue %}
<script>
var app = new Vue({
  el: '#app-comment',
  delimiters: ['${', '}'],
  data: {
    name_user: null,
    email_user: null,
    text: null,
    post: null,
    comments: [],
    errors: [],
    send: false,
    csrfToken: null,
    captchaKey: null,
    captchaImg: null
  },
  mounted() {
     this.csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value
     this.post = +this.$refs.post_id.value
  },
  watch: {
    captchaKey: function (val, oldVal) {
        document.getElementById('id_captcha_0').value = val
        document.getElementById('id_captcha_1').value = null
    },
    captchaImg: function (val, oldVal) {
        document.getElementsByClassName('captcha')[0].src = val
    },
  },
  methods: {
    validate: function () {
        this.errors = []
        if (!this.name_user) {
            this.errors.push('Укажите ваше имя!')
        }

        if (this.email_user) {
            if (!this.validEmail(this.email_user)) {
                this.errors.push('Укажите корректный адрес электронной почты!')
            }
        }

        if (!this.text) {
            this.errors.push('Напишите комментарий!')
        }

        this.send = (this.errors.length == 0) ? true : false
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    sendComment: function(event) {
        if(event) {
            this.validate()
            if(this.send){
                var data = {}
                data.name_user = this.name_user
                if(this.email_user) data.email_user = this.email_user
                data.text = this.text
                data.post = this.post
                data.captcha_0 = document.getElementById('id_captcha_0').value
                data.captcha_1 = document.getElementsByName('captcha_1')[0].value
                var headersData = {'Content-Type': 'application/json;charset=UTF-8',
                                   'Accept': 'application/json',
                                   "Access-Control-Allow-Origin": "*",
                                   "X-CSRFToken": this.csrfToken}
                axios({
                    method: 'post',
                    url: '/add-comment/',
                    data: data,
                    headers: headersData })
                .then(function (response) {
                  if(!response.data.error){
                    app.captchaKey = response.data.new_cptch_key
                    app.captchaImg = response.data.new_cptch_image
                    app.comments.push(response.data)
                    app.errors = []
                  }else{
                    app.captchaKey = response.data.new_cptch_key
                    app.captchaImg = response.data.new_cptch_image
                    app.errors.push(response.data.error)
                  }
                })
                .catch(function (error) {
                  app.errors.push('Ошибка сервера API!')
                })
           }
        }
    },
    refreshCaptcha: function() {
        var headersData = {'Content-Type': 'application/json;charset=UTF-8',
                           'Accept': 'application/json',
                           "Access-Control-Allow-Origin": "*"}
        axios({
            method: 'get',
            url: '/refresh-captcha/',
            headers: headersData })
        .then(function (response) {
          if(response.data){
            app.captchaKey = response.data.new_cptch_key
            app.captchaImg = response.data.new_cptch_image
          }
        })
        .catch(function (error) {
          app.errors.push('Ошибка сервера API!')
        })
    }
  },
})
</script>
{% endblock %}
