{% extends "base.html" %}
{% load staticfiles %}

{% block description %}поиск на сайте{% endblock %}
{% block keywords %}поиск на сайте{% endblock %}
{% block title %}поиск на сайте{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item active" aria-current="page">Поиск</li>
          </ol>
      </nav>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Поиск</h1>
          <ol>
            {% for post in posts %}
              <li><a href="{{ post.get_absolute_url }}">{{ post.name }}</a> ({{ post.category }})</li>
            {% empty %}
            <li>нет статей!</li>
            {% endfor %}
          </ol>
      </article>
    </div>
</div>
{% endblock %}
