{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}

{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block title %}{{ page.name }}{% endblock %}


{% block content %}
{# хлебные крошки #}
<div class="row">
  <div class="mt-0 col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item active" aria-current="page">Карта сайта</li>
          </ol>
      </nav>
  </div>
</div>


<div class="row">
    <div class="col-md-12">
      <article>
        <h1>{{ page.h1|capfirst  }}</h1>
        {{ page.text|safe }}

        <ol>
            <li>
              <a href="/">Главная</a>
            </li>
            {% for page in page_list %}
            <li>
              <a href="{% url 'blog:page' page.slug %}">{{ page.name }}</a>
            </li>
            {% endfor %}
        </ol>

        <p>Категории:</p>
        <ol>
            {% recursetree category_list %}
            <li>
                <a href="{% url 'blog:category' node.slug %}">{{ node.name }}</a>
                {% if not node.is_child_node %}
                    <ol class="children">
                        {{ children }}
                    </ol>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>


        <p>Статьи блога:</p>
        <ol>
        {% regroup post_list by category as category_list %}
            <ol>
            {% for category in category_list %}
                <li>{{ category.grouper }}
                <ol>
                    {% for p in category.list %}
                      <li><a href='{% url 'blog:post' p.category.slug p.slug %}'>{{ p.name }}</a></li>
                    {% endfor %}
                </ol>
                </li>
            {% empty %}
                <li>нет статей!</li>
            {% endfor %}
            </ol>
        </ol>

        <hr>
        <p>просмотры: {{ page.count_view }}</p>

      </article>
    </div>
</div>
{% endblock %}
 
