{% extends "base.html" %}
{% load staticfiles %}

{% block description %}Благодаря этому скрипту вы сможете расчитать количество отверстий в заготовке и расстояние между отверстиями{% endblock %}
{% block keywords %}калькулятор разметка отверстия{% endblock %}
{% block title %}Калькулятор разметки отверстий{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item"><a href="/script/">Скрипты</a></li>
              <li class="breadcrumb-item active" aria-current="page">Калькулятор разметки отверстий</li>
          </ol>
      </nav>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Калькулятор разметки отверстий</h1>
          <p>Вы сможете собрать схему разметки. Заполните поля. Учтите отступ от края изделия.</p>
      </article>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="script" id="app-script">
            <div class="hole-marking-form">
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="расчёт" v-on:click="canvasImage($event)">
                </form>

                <div v-show="visible">
                    <div>
                        <p>длина: ${ length } мм, кол-во отверстий ${ count_point } шт.</p>
                        <p>отступ верхний: ${ otstup_top } мм, отступ нижний ${ otstup_bottom } мм, расстояние между отверстиями ${ round_step } мм</p>
                    </div>
                    <canvas id="canvas">
                        <p>Ваш браузер не поддерживает рисование.</p>
                    </canvas>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_vue %}
<script>
var app = new Vue({
  el: '#app-script',
  delimiters: ['${', '}'],
  data: {
    otstup_top: 0,
    otstup_bottom: 0,
    count_point: 3,
    length: 100,
    round_length: 0,
    round_step: 0,
    visible: false,
  },
  watch: {
    otstup_top: function (val) {
      if(_.isInteger(val) === false) this.otstup_top = 0;
      if(val < 1) this.otstup_top = 0
    },
    otstup_bottom: function (val) {
      if(_.isInteger(val) === false) this.otstup_bottom = 0;
      if(val < 1) this.otstup_bottom = 0
    },
    length: function (val) {
      if(_.isInteger(val) === false) this.length = 1;
      if(val < 1) this.length = 1
    },
    count_point: function (val) {
      if(_.isInteger(val) === false) this.count_point = 1;
      if(val < 1) this.count_point = 1
    },
  },
  methods: {
    canvasImage: function(event){
        //создание canvas
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        canvas.width = 300;

        this.round_length = this.length
        var start_y = 20;
        if(this.round_length < (this.otstup_top + this.otstup_bottom)){
            this.round_length = this.otstup_top + this.otstup_bottom;
        }

        var length_c = this.round_length - (this.otstup_top + this.otstup_bottom);
        this.round_length += start_y;
        canvas.height = this.round_length+20;

        var step_y = length_c/(this.count_point-1);

        this.round_step = _.round(step_y, 1);
        this.visible = true;

        //вертикальная линия
        context.strokeStyle = '#b57d4f'; // меняем цвет рамки
        context.beginPath();
        context.moveTo(150, start_y); // Начало линии
        context.lineTo(150, this.round_length); // Узел линии
        context.closePath();
        context.stroke();

        // начало
        context.strokeStyle = '#ffd3a5'; // меняем цвет рамки
        context.beginPath();
        context.moveTo(15, start_y); // Начало линии
        context.lineTo(285, start_y); // Узел линии
        context.closePath();
        context.stroke();

        // конец
        context.strokeStyle = '#ffd3a5'; // меняем цвет рамки
        context.beginPath();
        context.moveTo(15, this.round_length); // Начало линии
        context.lineTo(285, this.round_length); // Узел линии
        context.closePath();
        context.stroke();

        var first_point = start_y + this.otstup_top;

        var i;
        for(i=0; i < this.count_point; i++){
            var text = null;
            //первое отверстие
            context.strokeStyle = '#6c3506'; // меняем цвет рамки
            context.beginPath();
            context.moveTo(145, first_point); // Начало линии
            context.lineTo(155, first_point); // Узел линии
            context.closePath();
            context.stroke();

            if(i < this.count_point-1){
                //текст - левый
                text = this.round_step + ' мм'
                context.fillStyle = "#ffd3a5";
                context.font = "13pt Arial";
                context.textBaseline = "right";
                context.fillText(text, 70, first_point+(step_y/2)+5);
            }

            //текст - правый
            var cur_position = first_point - start_y;
            text = _.round(cur_position, 1) + ' мм'
            context.fillStyle = "#6c3506";
            context.font = "13pt Arial";
            context.textBaseline = "left";
            context.fillText(text, 160, first_point+7);
            first_point += step_y;

            //блокировака перехода
            event.preventDefault();
        }
    }
  },
})
</script>
{% endblock %}
