{% extends "base.html" %}
{% load staticfiles %}

{% block description %}{{ index.description }}{% endblock %}
{% block keywords %}{{ index.keywords }}{% endblock %}
{% block title %}{{ index.name }}{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item active" aria-current="page">Скрипты</li>
          </ol>
      </nav>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Скрипты</h1>
          <p>Для столярного дела:</p>

          <ol>
              <li><a href="{% url 'script:paint_consumption' %}">Подсчёт расхода краски</a></li>
              <li><a href="{% url 'script:hole_marking' %}">Разметка отверстий</a></li>
              <li><a href="{% url 'script:mounting_sheet' %}">Расчёт монтажа</a></li>
              <li><a href="{% url 'script:law_ohm' %}">Закон Ома</a></li>
          </ol>
      </article>
    </div>
</div>
{% endblock %}
