{% extends "base.html" %}
{% load staticfiles %}

{% block description %}Скрипт расчёту напряжения, тока, сопротивления. Закон Ома{% endblock %}
{% block keywords %}Скрипт расчёт напряжение ток сопротивление{% endblock %}
{% block title %}Скрипт расчёту напряжения, тока, сопротивления{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item"><a href="/script/">Скрипты</a></li>
              <li class="breadcrumb-item active" aria-current="page">Расчёт монтажа</li>
          </ol>
      </nav>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Скрипт расчёту напряжения, тока, сопротивления</h1>
          <p>Вы сможете понять как работает закон Ома. Обратите внимание на обводку на кнопке. Если выделена кнопка "расчёт напряжения", то меняйте значение тока и сопротивления.</p>
          <p>V = I x R</p>
          <p>I = V/R</p>
          <p>R = V/I</p>
      </article>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="script" id="app-script">
            <div class="law-ohm-form">
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="расчёт" v-on:click.prevent="calculationType()">
                </form>

                <div v-show="visible" class="mt-4">
                    <div>
                        <p v-if="calculation === 'volt'">V = I x R = ${ current }x${ resistance } = ${ volt }</p>
                        <p v-if="calculation === 'current'">I = V/R = ${ volt }/${ resistance } = ${ current }</p>
                        <p v-if="calculation === 'resistance'">R = V/I = ${ volt }/${ current } = ${ resistance }</p>
                        <p>напряжение: ${ volt } Вольт</p>
                        <p>ток: ${ current } Ампер</p>
                        <p>сопротивление: ${ resistance } Ом</p>
                        <p>мощность: ${ power }</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_vue %}
<script>
var app = new Vue({
  el: '#app-script',
  delimiters: ['${', '}'],
  data: {
    volt: 0,
    current: 0,
    resistance: 0,
    power: 0,
    calculation: 'volt',
    visible: false
  },
  watch: {
    volt: function (val, oldVal) {
      this.volt = _.toFinite(val)
      if(val < 0) this.volt = 0
      this.calculationType()
    },
    current: function (val, oldVal) {
      this.current = _.toFinite(val)
      if(val < 0) this.current = 0
      this.calculationType()
    },
    resistance: function (val, oldVal) {
      this.resistance = _.toFinite(val)
      if(val < 0) this.resistance = 0
      this.calculationType()
    },
  },
  methods: {
    calculationType: function(){
        if(this.calculation == 'volt') {
            if(this.current > 0 && this.resistance > 0){
               this.volt = this.current * this.resistance
               //this.volt = _.floor(this.volt, 0)
            }
        } else if(this.calculation == 'current') {
            if(this.volt > 0 && this.resistance > 0){
               this.current = this.volt / this.resistance
               //this.current = _.floor(this.current, 0)
            }
        } else if(this.calculation == 'resistance') {
            if(this.volt > 0 && this.current > 0){
               this.resistance = this.volt / this.current
               //this.resistance = _.floor(this.resistance, 0)
            }
        }
        this.visible = true
        this.calculationPower()
    },
    calculationPower: function(){
       if(this.volt > 0 && this.current > 0){
         this.power = this.volt * this.current
         if(this.power > 1000){
           this.power = _.floor(this.power/1000, 2) + ' кВт/ч'
         }else{
           this.power += ' Вт/ч'
         }
       }else{
         this.power = 0 + ' Вт/ч'
       }
    }
  },
})
</script>
{% endblock %}
