{% extends "base.html" %}
{% load staticfiles %}

{% block description %}Скрипт для расчёта монтажа. Вы сможете рассчитать количество заготовок на монтажном листе{% endblock %}
{% block keywords %}Скрипт расчёт монтажа{% endblock %}
{% block title %}Скрипт для расчёта монтажа{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item"><a href="/script/">Скрипты</a></li>
              <li class="breadcrumb-item active" aria-current="page">Расчёт монтажа</li>
          </ol>
      </nav>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Расчёт монтажа</h1>
          <p>Вы сможете понять количество изделий на листе. Материал не важен.</p>
      </article>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="script" id="app-script">
            <div class="hole-marking-form">
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="расчёт" v-on:click="canvasImage($event)">
                </form>

                <div v-show="visible">
                    <p>длина монтажа: ${ this.width_sheet } мм, ширина монтажа ${ this.height_sheet } мм</p>
                    <p>пустое пространство снизу: ${ this.vertical_void+this.vertical_cut} мм, пустое пространство справа ${ this.horizontal_void+this.horizontal_cut } мм</p>
                    <p>ширина вертикального реза: ${ this.vertical_cut } мм, ширина горизонтального реза ${ this.horizontal_cut } мм</p>
                    <p>кол-во заготовок по вертикали: ${ this.count_vert } шт, кол-во заготовок по горизонтали ${ this.count_horizontal } шт</p>
                    <p>кол-во заготовок: ${ this.count_billet } шт</p>
                    <canvas id="canvas">
                        <p>Ваш браузер не поддерживает рисование.</p>
                    </canvas>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_vue %}
<script>
var app = new Vue({
  el: '#app-script',
  delimiters: ['${', '}'],
  data: {
    width_sheet: 500,
    height_sheet: 200,
    width_billet: 10,
    height_billet: 20,
    vertical_cut: 0,
    horizontal_cut: 0,
    scale: 1,
    count_vert: 0,
    vertical_void: 0,
    horizontal_void: 0,
    count_horizontal: 0,
    count_billet: 0,
    visible: false,
  },
  watch: {
    width_billet: function (val) {
      if(this.width_billet > this.width_sheet){
        this.width_billet = this.width_sheet
      }
      if(this.width_billet <= 0){
        this.width_billet = 1
      }
    },
    height_billet: function (val) {
      if(this.height_billet > this.height_sheet){
        this.height_billet = this.height_sheet
      }
      if(this.height_billet <= 0){
        this.height_billet = 1
      }
    },
    vertical_cut: function (val) {
      if(this.vertical_cut > (this.height_sheet - this.height_billet)){
        this.vertical_cut = this.height_sheet - this.height_billet
      }
    },
    horizontal_cut: function (val) {
      if(this.horizontal_cut > (this.width_sheet - this.width_billet)){
        this.horizontal_cut = this.width_sheet - this.width_billet
      }
    },
    scale: function (val) {
       if(val < 0){
           val *= -1
           canvas.style.width = String(+canvas.width / val) + "px"
       }else{
           canvas.style.width = String(+canvas.width * val) + "px"
       }
       console.log(val)
       console.log('canvas.style.width', canvas.style.width)
    },
  },
  methods: {
    canvasImage: function(event){
        //приведение к числу переменных
        this.width_sheet = +this.width_sheet
        this.height_sheet = +this.height_sheet
        this.width_billet = +this.width_billet
        this.height_billet = +this.height_billet
        this.vertical_cut = +this.vertical_cut
        this.horizontal_cut = +this.horizontal_cut
        this.scale = +this.scale

        //размер монтажного поля должен быть больше или равен заготовке
        if(this.width_sheet < this.width_billet){
            this.width_billet = this.width_sheet
        }
        if(this.width_sheet <= 0){
            this.width_sheet = 1
        }
        if(this.height_sheet < this.height_billet){
            this.height_billet = this.height_sheet
        }
        if(this.height_sheet <= 0){
            this.height_sheet = 1
        }

        //создание canvas
        var canvas = document.getElementById('canvas')
        var context = canvas.getContext('2d')
        canvas.width = this.width_sheet+2
        canvas.height = this.height_sheet+2

        //расчёты
        if(this.height_sheet % (this.height_billet + this.vertical_cut) == 0){
            this.count_vert = _.floor(this.height_sheet / (this.height_billet + this.vertical_cut), 1)
            this.vertical_void = 0
        }else{
            //есть остаток
            this.count_vert = _.floor(this.height_sheet / (this.height_billet + this.vertical_cut), 0)
            this.vertical_void = _.floor(this.height_sheet - (this.count_vert * (this.height_billet + this.vertical_cut)), 2)
        }

        if(this.width_sheet % (this.width_billet + this.horizontal_cut) == 0){
            this.count_horizontal = _.floor(this.width_sheet / (this.width_billet + this.horizontal_cut), 1)
            this.horizontal_void = 0
        }else{
            //есть остаток
            this.count_horizontal = _.floor(this.width_sheet / (this.width_billet + this.horizontal_cut), 0)
            this.horizontal_void = _.floor(this.width_sheet - (this.count_horizontal * (this.width_billet + this.horizontal_cut)), 2)
        }
        //кол-во заготовок
        this.count_billet = this.count_vert * this.count_horizontal

        //рисование канвас, минимальный размер заготовки
        context.strokeStyle = "#b57d4f"
        context.font = "18px Verdana"

        var step_x = 1
        var step_y = 1
        var count_x = 0
        var i
        for(i=0; i < this.count_billet; i++){
          context.strokeRect(step_x, step_y, this.width_billet, this.height_billet)
          //текст
          if(this.width_billet >= 30 && this.height_billet >= 30){
              if(i >= 99){
                context.fillText(i+1, step_x+(this.width_billet/2)-18, step_y+(this.height_billet/2)+7)
              }else if(i >= 9){
                context.fillText(i+1, step_x+(this.width_billet/2)-12, step_y+(this.height_billet/2)+7)
              }else{
                context.fillText(i+1, step_x+(this.width_billet/2)-5, step_y+(this.height_billet/2)+7)
              }
          }

          count_x += 1
          step_x += this.width_billet + this.horizontal_cut

          if(count_x == this.count_horizontal){
            count_x = 0
            step_x = 1
            step_y += this.height_billet + this.vertical_cut
            //console.log('step_y',step_y)
          }
        }

        if(+this.scale < 0) {
           this.scale *= 1
           canvas.style.width = String(+canvas.width / this.scale) + "px"
        }else{
           canvas.style.width = String(+canvas.width * this.scale) + "px"
        }

        //показываю подсказку
        this.visible = true

        //блокировака перехода
        event.preventDefault()
    }
  },
})
</script>
{% endblock %}

