{% extends "base.html" %}
{% load staticfiles %}

{% block description %}Вы сможете определить расход краски при помощи калькулятора{% endblock %}
{% block keywords %}Калькулятор расхода краска расчёт{% endblock %}
{% block title %}Калькулятор расхода краски{% endblock %}


{% block content %}
<div class="row">
  <div class="mt-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><noindex><a rel="nofollow" href="/">Главная</a></noindex></li>
              <li class="breadcrumb-item"><a href="/script/">Скрипты</a></li>
              <li class="breadcrumb-item active" aria-current="page">Калькулятор расхода краски</li>
          </ol>
      </nav>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <article>
          <h1>Калькулятор расхода краски</h1>
          <p>Вы можете расчитать расход краски, лака. Заполните поля и нажмите на кнопку. Расход жидкости на 1 м<sup>2</sup> вы можете изменить.</p>
      </article>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="script" id="app-script">
            <form action="" method="post" class="paint-consumption-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="расчёт" v-on:click="calculation($event)">
            </form>
            <div v-if="seen">
                <p>вывод: площадь: ${ this.surface_area } ${ this.type } <sup>2</sup></p>
                <p>расход ${ this.rashod_min_show } мин - ${ this.rashod_max_show } макс</p>
                <p>кол-во: ${ this.rashod_min_banki07 } - ${ this.rashod_max_banki07 } банок по 0,75 литра</p>
                <p>или</p>
                <p>кол-во: ${ this.rashod_min_banki27 } - ${ this.rashod_max_banki27 } банок по 2,7 литра</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_vue %}
<script>
var app = new Vue({
  el: '#app-script',
  delimiters: ['${', '}'],
  data: {
    select_theme: 'm',
    surface_area: null,
    width: null,
    length: null,
    rashod_min: '80',
    rashod_max: '180',

    rashod_min_show: 0,
    rashod_max_show: 0,
    rashod_min_banki07: 0,
    rashod_max_banki07: 0,
    rashod_min_banki27: 0,
    rashod_max_banki27: 0,
    type: null,
    seen: false
  },
  watch: {
    length: function () {
      this.check_surface_area();
    },
    width: function () {
       this.check_surface_area();
    }
  },
  methods: {
    check_surface_area:function() {
        this.surface_area = this.width * this.length;
    },
    calculation: function(event) {
        if(event){
            this.seen = true;
            /* 80-180 гм на м кв */
            if(this.rashod_max == null){
                this.rashod_max = this.rashod_min;
            }

            if(+this.rashod_max < +this.rashod_min){
                this.rashod_max = this.rashod_min;
            }

            var r_min;
            var r_max;
            if(this.select_theme == 'mm'){
               r_min = this.rashod_min/1000000;
               r_max = this.rashod_max/1000000;
               this.type = 'мм';
            }else if(this.select_theme == 'sm'){
               r_min = this.rashod_min/10000;
               r_max = this.rashod_max/10000;
               this.type = 'см';
            }else{
               r_min = this.rashod_min;
               r_max = this.rashod_max;
               this.select_theme='m'
               this.type = 'м';
            }

            this.surface_area = this.width * this.length;

            //литры-граммы
            var rashod_min = this.surface_area * r_min;
            var rashod_max = this.surface_area * r_max;
            if(rashod_min > 1000){
                this.rashod_min_show = _.round(rashod_min/1000, 2) + ' литров';
                this.rashod_max_show = _.round(rashod_max/1000, 2) + ' литров';
            }else{
                this.rashod_min_show = _.round(rashod_min, 2) + ' миллилитров';
                this.rashod_max_show = _.round(rashod_max, 2) + ' миллилитров';
            }

            //банки по 750 грамм
            this.rashod_min_banki07 = _.round(rashod_min/750, 1);
            this.rashod_max_banki07 = _.round(rashod_max/750, 1);
            this.rashod_min_banki27 = _.round(rashod_min/2700, 1);
            this.rashod_max_banki27 = _.round(rashod_max/2700, 1);

            //блокировака перехода
            event.preventDefault();
        }
    }
  },
})
</script>
{% endblock %}

