@charset "UTF-8";
/* стили */
* {
  padding: 0;
  margin: 0; }

body {
  font: 100% Trebuchet MS, Helvetica, sans-serif;
  background-color: #ffd3a5; }

header .banner {
  background-image: url("/static/image/line-banner.png");
  background-repeat: repeat-x;
  background-position: center; }
  header .banner img {
    margin: 0 auto; }

header .menu-top {
  background-color: #b57d4f;
  background-image: url("/static/image/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px; }
  header .menu-top .nav-link {
    font-size: 21px; }
    header .menu-top .nav-link:link {
      color: #6c3506;
      text-decoration: none; }
    header .menu-top .nav-link:visited {
      color: #6c3506;
      text-decoration: none; }
    header .menu-top .nav-link:hover {
      color: #ffb12a;
      text-decoration: none; }
    header .menu-top .nav-link:active {
      color: #6c3506;
      text-decoration: none; }

header .menu-top-small .nav-link {
  font-size: 21px; }
  header .menu-top-small .nav-link:link {
    color: #6c3506;
    text-decoration: none; }
  header .menu-top-small .nav-link:visited {
    color: #6c3506;
    text-decoration: none; }
  header .menu-top-small .nav-link:hover {
    color: #b57d4f;
    text-decoration: none; }
  header .menu-top-small .nav-link:active {
    color: #6c3506;
    text-decoration: none; }

main .side p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #6c3506; }

main .side ul {
  font-size: 18px; }
  main .side ul li {
    /* Убираем маркеры */
    list-style-type: none; }
    main .side ul li a {
      color: #7a6356;
      font-size: 16px; }
      main .side ul li a:link {
        color: #7a6356;
        text-decoration: none; }
      main .side ul li a:visited {
        color: #7a6356;
        text-decoration: none; }
      main .side ul li a:hover {
        color: #b57d4f;
        text-decoration: none; }
      main .side ul li a:active {
        color: #7a6356;
        text-decoration: none; }
  main .side ul .children {
    margin: 0 auto 10px 15px; }

main .side .advertising {
  text-align: center;
  margin-bottom: 10px; }

main .breadcrumb {
  background-color: transparent !important; }
  main .breadcrumb a {
    color: #7a6356; }
    main .breadcrumb a:link {
      color: #7a6356;
      text-decoration: none; }
    main .breadcrumb a:visited {
      color: #7a6356;
      text-decoration: none; }
    main .breadcrumb a:hover {
      color: #6c3506;
      text-decoration: underline; }
    main .breadcrumb a:active {
      color: #7a6356;
      text-decoration: none; }
  main .breadcrumb .active {
    color: #b57d4f; }

main .list-article h1 {
  font-size: 24px;
  text-align: center; }

main .list-article h2 {
  font-size: 20px; }

main .list-article p {
  font-size: 16px; }
  main .list-article p span {
    color: #6c3506; }

main .list-article a {
  color: #6c3506; }
  main .list-article a:link {
    color: #6c3506;
    text-decoration: none; }
  main .list-article a:visited {
    color: #6c3506;
    text-decoration: none; }
  main .list-article a:hover {
    color: #b57d4f;
    text-decoration: underline; }
  main .list-article a:active {
    color: #6c3506;
    text-decoration: none; }

main article h1 {
  color: #6c3506;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px; }

main article h2, main article h3, main article h4, main article h5 {
  color: #6c3506;
  text-align: center;
  font-size: 22px; }

main article p {
  font-size: 16px; }

main article a {
  color: #6c3506; }
  main article a:link {
    color: #6c3506;
    text-decoration: underline; }
  main article a:visited {
    color: #6c3506;
    text-decoration: underline; }
  main article a:hover {
    color: #b57d4f;
    text-decoration: none; }
  main article a:active {
    color: #6c3506;
    text-decoration: underline; }

main article ol, main article ul {
  font-size: 16px;
  margin: 10px auto 15px 30px; }
  main article ol li, main article ul li {
    margin-bottom: 5px; }

main article img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto 15px auto; }

main article table .thead-dark th {
  background-color: #b57d4f !important;
  border-color: #b57d4f !important;
  color: #ffd3a5 !important; }

main article table td, main article table th {
  border-top: 1px solid #b57d4f !important; }

main .pagination .page-item a {
  color: #b57d4f; }
  main .pagination .page-item a:link {
    color: #b57d4f;
    text-decoration: none; }
  main .pagination .page-item a:visited {
    color: #b57d4f;
    text-decoration: none; }
  main .pagination .page-item a:hover {
    color: #6c3506;
    text-decoration: none; }
  main .pagination .page-item a:active {
    color: #b57d4f;
    text-decoration: none; }

main .pagination .page-item.active a {
  background-color: #b57d4f;
  border-color: #b57d4f;
  color: #ffd3a5; }

main .pagination .page-item .page-link {
  border-color: #b57d4f;
  background-color: #ffd3a5; }

footer .line-black {
  background-color: #b57d4f;
  background-image: url("/static/image/footer-fon.png");
  background-repeat: repeat-x;
  height: 50px; }

footer .black-fon {
  background-color: #7a6356; }
  footer .black-fon p {
    color: #ffd3a5; }
  footer .black-fon .left-box .main-link {
    color: #ffd3a5; }
  @media only screen and (max-width: 768px) {
    footer .black-fon .left-box {
      text-align: center; } }
  footer .black-fon .right-box {
    text-align: right; }
    @media only screen and (max-width: 768px) {
      footer .black-fon .right-box {
        text-align: center; } }

.center {
  text-align: center; }
