@charset "UTF-8";
/* стили */
$font-stack: Trebuchet MS, Helvetica, sans-serif;
$color-black: #7a6356;
$color-brown2: #6c3506;
$color-brown1: #b57d4f;
$color-gold: #ffb12a;
$color-white: #ffd3a5;
$color-error: #cb0000;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$image_dir: '/static/image/';


* {
    padding: 0;
    margin: 0;
}

body
{
    font: 100% $font-stack;
    background-color: $color-black;
}

header {
    background-color: $color-white;

    .banner {
        background-image:url('/static/image/line-banner.png');
        background-repeat: repeat-x;
        background-position: center;

        img {
            margin: 0 auto;
        }
    }

    .menu-top {
        background-color: $color-brown1;
        background-image:url($image_dir + 'logo.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;

        .nav-link {
            font-size: 21px;

            &:link {color: $color-brown2; text-decoration: none;}
            &:visited {color: $color-brown2; text-decoration: none;}
            &:hover {color: $color-gold;text-decoration: none;}
            &:active {color: $color-brown2;text-decoration: none;}
         }

    }

    .menu-top-small {
        .nav-link {
            font-size: 21px;

            &:link {color: $color-brown2; text-decoration: none;}
            &:visited {color: $color-brown2; text-decoration: none;}
            &:hover {color: $color-brown1;text-decoration: none;}
            &:active {color: $color-brown2;text-decoration: none;}
         }

    }
}


main {
    background-color: $color-white;

    /* ошибка при валидации формы */
    .errorlist {
        color: red;

        div {
          color: red;
        }
    }

    .side {
        p {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            color: $color-brown2;
        }

        ul {
            font-size: 18px;

            li {
                /* Убираем маркеры */
                list-style-type: none;

                a {
                    color: $color-black;
                    font-size: 16px;

                    &:link {
                        color: $color-black;
                        text-decoration: none;
                    }

                    &:visited {
                        color: $color-black;
                        text-decoration: none;
                    }

                    &:hover {
                        color: $color-brown1;
                        text-decoration: none;
                    }

                    &:active {
                        color: $color-black;
                        text-decoration: none;
                    }
                }
            }

            .children {
                margin: 0 auto 10px 15px;
            }
        }

        .advertising {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .breadcrumb {
        background-color: transparent !important;

        a {
            color: $color-black;

            &:link {
                color: $color-black;
                text-decoration: none;
            }

            &:visited {
                color: $color-black;
                text-decoration: none;
            }

            &:hover {
                color: $color-brown2;
                text-decoration: underline;
            }

            &:active {
                color: $color-black;
                text-decoration: none;
            }
        }

        .active {
            color: $color-brown1;
        }

    }

    .list-article {
        h1 {
            font-size: 24px;
            text-align: center;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 16px;

            span {
                color: $color-brown2;
            }
        }


        a {
            color: $color-brown2;

            &:link {
                color: $color-brown2;
                text-decoration: none;
            }

            &:visited {
                color: $color-brown2;
                text-decoration: none;
            }

            &:hover {
                color: $color-brown1;
                text-decoration: underline;
            }

            &:active {
                color: $color-brown2;
                text-decoration: none;
            }
        }
    }

    article {
        h1 {
            color: $color-brown2;
            text-align: center;
            font-size: 22px;
            margin-bottom: 15px;
        }

        h2, h3, h4, h5 {
            color: $color-brown2;
            text-align: center;
            font-size: 22px;
        }

        p {
            font-size: 16px;
            text-align: justify;
        }

        a {
            color: $color-brown2;

            &:link {
                color: $color-brown2;
                text-decoration: underline;
            }

            &:visited {
                color: $color-brown2;
                text-decoration: underline;
            }

            &:hover {
                color: $color-brown1;
                text-decoration: none;
            }

            &:active {
                color: $color-brown2;
                text-decoration: underline;
            }
        }

        ol, ul {
            font-size: 16px;
            margin: 10px auto 15px 30px;

            li {
                margin-bottom: 5px;
            }
        }

        .img-center {
            /* выравнивание по центру */
            img {
                display: block;
                height: auto;
                max-width: 100%;
                margin: 0 auto 15px auto;
            }
        }

        table {
            .thead-dark {
                th {
                    background-color: $color-brown1 !important;
                    border-color: $color-brown1 !important;
                    color: $color-white !important;
                }
            }

            td, th {
                border-top: 1px solid $color-brown1 !important;
            }
        }

    }

    .comment {
        .comments {
            h2 {
                color: $color-brown2;
                text-align: center;
                font-size: 22px;
            }

            p {
                font-size: 16px;
                text-align: justify;
            }
        }

        .form {
            label {
                span {
                    color: $color-error;
                }
            }
            input#id_captcha_1 {
              height: 37px;
              margin-top: 2px;
            }
        }
    }

    .pagination {
        .page-item {
            a {
                color: $color-brown1;

                &:link {color: $color-brown1; text-decoration: none;}
                &:visited {color: $color-brown1; text-decoration: none;}
                &:hover {color: $color-brown2;text-decoration: none;}
                &:active {color: $color-brown1;text-decoration: none;}
            }

            &.active a{
                background-color: $color-brown1;
                border-color: $color-brown1;
                color: $color-white;
            }

            .page-link {
                border-color: $color-brown1;
                background-color: $color-white;
            }
        }
    }

    .search {
        input {
            width: 100%;
            padding: 5px;
        }
        select {
            width: 100%;
            padding: 5px;
            font-size: 15px;
        }

        #id_select_type{
           display: none;
        }

        #id_select_category{
           display: none;
        }

        #submit_search{
            display: none;
        }
    }

    .yandex-counter {
        text-align: center;
        margin-bottom: 20px;
    }

    .script {
        margin-bottom: 10px;

        .paint-consumption-form {
            label {
                display: block;
            }

            input[type=text] {
                padding: 5px;
            }

            input[type=submit] {
                padding: 5px;
            }
        }

        .hole-marking-form {
            label {
                display: block;
            }

            input[type=text] {
                padding: 5px;
            }

            input[type=submit] {
                padding: 5px;
            }

            canvas {
                margin: 0px auto 10px 0;
                background-color: #fff;
            }
        }

        .law-ohm-form {
            label {
                display: block;
            }

            input[type=text], input[type=number] {
                padding: 5px;
            }

            input[type=submit] {
                padding: 5px;
            }

            li {
                list-style-type: none;
            }

            ul {
                margin-left: 0;
                padding-left: 0;
            }
        }

        p {
            margin-top: 10px;
        }
    }

}

footer {
    .line-black {
        background-color: $color-brown1;
        background-image:url($image_dir + 'footer-fon.png');
        background-repeat: repeat-x;
        height: 50px;
    }

    .black-fon {
        background-color: $color-black;

        p {
            color: $color-white;
        }

        a {
            color: $color-white;

            &:link {color: $color-white; text-decoration: none;}
            &:visited {color: $color-white; text-decoration: none;}
            &:hover {color: $color-brown1;text-decoration: none;}
            &:active {color: $color-white;text-decoration: none;}
        }

        .left-box {
            @media only screen and (max-width: $screen-sm-min) {
                text-align: center;
            }
        }

        .right-box {
            text-align: right;

            @media only screen and (max-width: $screen-sm-min) {
                text-align: center;
            }
        }

    }

}

.center {
    text-align: center;
}